<server description="ViPLab Websocket API Server">
	<featureManager>
		<feature>websocket-1.1</feature>
		<feature>jsonb-1.0</feature>
		<feature>cdi-2.0</feature>
		<feature>mpConfig-1.3</feature>
		<feature>mpMetrics-2.0</feature>
		<feature>mpHealth-2.0</feature>
		<feature>concurrent-1.0</feature>
		<!-- <feature>mpReactiveMessaging-1.0</feature> -->
		<!-- <feature>mpRestClient-1.3</feature> -->
	</featureManager>

	<quickStartSecurity userName="admin"
		userPassword="adminpwd" />
	<httpEndpoint httpPort="${default.http.port}"
		httpsPort="-1" id="defaultHttpEndpoint" onError="FAIL" />
	<logging traceSpecification="de.uni_stuttgart.*=all" />
	
	<webApplication id="websocket-api-impl" location="websocket-api-impl.war" contextRoot="${app.name}"/>
</server>